.mission {
  padding: 120px 10%;
  text-align: center;
  background: #ffffff;
}

.mission h5 {
  color: #2f8f57;
  font-size: 18px;
  margin-bottom: 20px;
}

.mission h2 {
  font-size: 60px;
  max-width: 900px;
  margin: 0 auto 30px;
  line-height: 1.1;
}

.mission p {
  max-width: 800px;
  margin: auto;
  color: #555;
  font-size: 20px;
  line-height: 1.8;
}